{% extends "base.html" %}

{% block app_content %}
  <div class="container-fluid">
    {# "Navbar" #}
    <div class="row mt-3 mb-5 justify-content-around align-items-center">
      <div class="col-3 text-white">
        <a href="#" class="h1 fw-bold text-white text-decoration-none">Dota Deck Stats</a>
      </div>
      <div class="col-3 text-end">
        <a class="col-1 text-white text-decoration-none" href="/update_heroes">Update Heroes</a>
      </div>
    </div>

    {# Form #}
    <form id="form" class="container-fluid">
      <div class="row mb-2 justify-content-around">
        <div class="col-3 text-center text-white">
          <h4>ГЕРОИ КОМАНДЫ A</h4>
        </div>
        <div class="col-3 text-center text-white">
          <h4>ГЕРОИ КОМАНДЫ B</h4>
        </div>
      </div>
      
      {# #333333  #27282d - инпуты #212226 - фон #}
      <div class="row mb-1 justify-content-around">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero A1" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'A1')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="A1" value="{{ inputs['A1'] }}" aria-label="A1">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero B1" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'B1')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="B1" value="{{ inputs['B1'] }}" aria-label="B1">
          </div>
        </div>
      </div>

      <div class="row mb-1 justify-content-around">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero A2" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'A2')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="A2" value="{{ inputs['A2'] }}" aria-label="A2">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero B2" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'B2')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="B2" value="{{ inputs['B2'] }}" aria-label="B2">
          </div>
        </div>
      </div>

      <div class="row mb-1 justify-content-around">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero A3" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'A3')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="A3" value="{{ inputs['A3'] }}" aria-label="A3">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero B3" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'B3')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="B3" value="{{ inputs['B3'] }}" aria-label="B3">
          </div>
        </div>
      </div>

      <div class="row mb-1 justify-content-around">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero A4" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'A4')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="A4" value="{{ inputs['A4'] }}" aria-label="A4">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero B4" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'B4')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="B4" value="{{ inputs['B4'] }}" aria-label="B4">
          </div>
        </div>
      </div>

      <div class="row mb-3 justify-content-around">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero A5" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'A5')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="A5" value="{{ inputs['A5'] }}" aria-label="A5">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text bg-dark border-secondary">
              <img class="hero B5" src="{{ url_for('static', filename='img/alt.jpg') }}" alt="hero">
            </span>
            <input onchange="onchangeHandler(this, 'B5')" type="text" class="form-control bg-dark text-white border-secondary" placeholder="Выбор героя" name="B5" value="{{ inputs['B5'] }}" aria-label="B5">
          </div>
        </div>
      </div>

      <div class="row mb-3 justify-content-around">
        <div class="col-3"></div>
        <div class="col-3 text-end">
          <button onclick="onsubmitHandler()" type="button" class="btn-lg btn-primary">Анализ</button>
      </div>
    </form>

    {% if matches_exist %}
      <div class="container mt-3">
        <h3 class="text-white text-center">Статистика</h3>
        <div class="row justify-content-around">
          <div class="text-center text-white fs-5">
            Матчей всего: <span class="fw-bold">{{ matches_count }}</span>
          </div>
        </div>

        <div class="row mb-3 justify-content-around">
          <div class="text-center text-white fs-5">
            Матчей найдено: <span class="fw-bold">{{ matches }}</span>
          </div>
        </div>

        <div class="row mb-3 justify-content-around">
          <h4 class="col-3 text-white fs-5">Побед команды A:</h4>
          <h4 class="col-3 text-white fs-5">Побед команды B:</h4>
        </div>

        <div class="row mb-5 justify-content-around">
          <div class="col-3 text-white text-center fs-3 fw-bold">{{ wins_a }}</div>
          <div class="col-3 text-white text-center fs-3 fw-bold">{{ wins_b }}</div>
        </div>

        <div class="row mb-3 justify-content-around">
          <h4 class="col-3 text-white fs-5">Шанс победы команды А:</h4>
          <h4 class="col-3 text-white fs-5">Шанс победы команды B:</h4>
        </div>

        <div class="row mb-3 justify-content-around">
          <div class="col-3 text-white text-center fs-3 fw-bold">{{ wins_a_perc }}%</div>
          <div class="col-3 text-white text-center fs-3 fw-bold">{{ wins_b_perc }}%</div>
        </div>

        {# https://www.jqueryscript.net/blog/best-circular-radial-progress-bar.html 
          <div class="c100 p{{ wins_a }} p70 big">
            <span>50%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        #}
      </div>
    {% endif %}

    {% if not matches_exist %}
      <h3 class="text-white text-center">Статистика</h3>
      <div class="row justify-content-around">
        <div class="text-center text-white fs-5">
          Матчей всего: <span class="fw-bold">{{ matches_count }}</span>
        </div>
      </div>
      <h5 class="text-white text-center mt-5">Матчи с такими составами не найдены</h5>
    {% endif %}
  </div>
{% endblock %}